#Дает возможность делать перенапровления по ссылкам
RewriteEngine on

#Правило для замены ссылки
#Если встречается ссылка по первому шаблону
#Перенаправляем на ссылку по второму шаблону
#L останавливает итерацию
RewriteRule ^([-a-z0-9]+)$ ?page=$1 [L]

#Вслучае если страница не найдена переходим на страницу 404
#ErrorDocument 404 http://site100.ru/404

php_flag display_errors off
php_value error_reporting 0